/* 
    Document   : Search
    Created on : Aug 3, 2011, 1:41:40 PM
    Author     : nbanks
    Description:
        Purpose of the stylesheet follows.
*/
div.form-item { 
    display: inline-block;
}

.scholar_search_item {
  margin: 1em;
}